# Assignment 3.1: Impacting the Business with a Distributed Data Science Pipeline (Part 2)

# 1. Using the data you identified in the previous module, ingest the data into AWS S3 so that you can access it via SageMaker Studio. You may manually upload to an S3 bucket.
This was done maually and put into the following S3 bucket "s3://sagemaker-us-east-1-508233972396/Instacart-data"

# 2. Once you have manually uploaded your data, you will need to implement a Sagemaker Studio Notebook to copy the data to the Sagemaker S3 bucket, and then to the local SageMaker Instance.
This is done below.

In [155]:
# List all the source files in my S3 Bucket
!aws s3 ls s3://sagemaker-us-east-1-508233972396/Instacart-data/

                           PRE csv/
2022-03-20 21:37:12          0
2022-03-20 21:42:41       2603 aisles.csv
2022-03-20 21:42:41        270 departments.csv
2022-03-20 21:42:38  577550706 order_products__prior.csv
2022-03-20 21:42:38   24680147 order_products__train.csv
2022-03-20 21:42:38  108968645 orders.csv
2022-03-20 21:42:40    2166953 products.csv
2022-03-20 21:42:39    1475693 sample_submission.csv

In [158]:
# List all the source files in my S3 Bucket
!aws s3 ls s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/

!aws s3 rm s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/ --recursive --dryrun --exclude "*" --include "csv/*"

# List all the source files in my S3 Bucket
!aws s3 ls s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/

In [159]:
# Load necessary libraries and Account IDs
import boto3
import sagemaker
import pandas as pd

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name
account_id = boto3.client("sts").get_caller_identity().get("Account")

sm = boto3.Session().client(service_name="sagemaker", region_name=region)

# Set S3 Source Location

In [316]:
s3_public_path_csv = "s3://sagemaker-us-east-1-508233972396/Instacart-data"

In [317]:
%store s3_public_path_csv

Stored 's3_public_path_csv' (str)

In [318]:
bucket

'sagemaker-us-east-1-508233972396'

# Set S3 Destination Location & Copy Data From the Source S3 Bucket to our Destination S3 Bucket in this Account

In [321]:
s3_private_path_csv = "s3://{}/Instacart-data/csv/departments".format(bucket)
print(s3_private_path_csv)
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_csv/ --exclude "*" --include "departments.csv"

s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/departments
copy: s3://sagemaker-us-east-1-508233972396/Instacart-data/departments.csv to s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/departments/departments.csv

In [322]:
s3_private_path_csv = "s3://{}/Instacart-data/csv/aisles".format(bucket)
print(s3_private_path_csv)
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_csv/ --exclude "*" --include "aisles.csv"

s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/aisles
copy: s3://sagemaker-us-east-1-508233972396/Instacart-data/aisles.csv to s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/aisles/aisles.csv

In [323]:
s3_private_path_csv = "s3://{}/Instacart-data/csv/products".format(bucket)
print(s3_private_path_csv)
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_csv/ --exclude "*" --include "products.csv"

s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/products
copy: s3://sagemaker-us-east-1-508233972396/Instacart-data/products.csv to s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/products/products.csv

In [324]:
s3_private_path_csv = "s3://{}/Instacart-data/csv/sample_submission".format(bucket)
print(s3_private_path_csv)
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_csv/ --exclude "*" --include "sample_submission.csv"

s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/sample_submission
copy: s3://sagemaker-us-east-1-508233972396/Instacart-data/sample_submission.csv to s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/sample_submission/sample_submission.csv

In [325]:
s3_private_path_csv = "s3://{}/Instacart-data/csv/orders".format(bucket)
print(s3_private_path_csv)
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_csv/ --exclude "*" --include "orders.csv"

s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/orders
copy: s3://sagemaker-us-east-1-508233972396/Instacart-data/orders.csv to s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/orders/orders.csv

In [326]:
s3_private_path_csv = "s3://{}/Instacart-data/csv/order_products__train".format(bucket)
print(s3_private_path_csv)
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_csv/ --exclude "*" --include "order_products__train.csv"

s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/order_products__train
copy: s3://sagemaker-us-east-1-508233972396/Instacart-data/order_products__train.csv to s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/order_products__train/order_products__train.csv

In [327]:
s3_private_path_csv = "s3://{}/Instacart-data/csv/order_products__prior".format(bucket)
print(s3_private_path_csv)
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_csv/ --exclude "*" --include "order_products__prior.csv"

s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/order_products__prior
copy: s3://sagemaker-us-east-1-508233972396/Instacart-data/order_products__prior.csv to s3://sagemaker-us-east-1-508233972396/Instacart-data/csv/order_products__prior/order_products__prior.csv

In [328]:
# List the files in our destination bucket.
!aws s3 ls $s3_private_path_csv/

2022-03-21 04:48:56  577550706 order_products__prior.csv

## Create an Athena Database to help with data exploration

pip install PyAthena

In [413]:
# libraries and IDs

import boto3
import sagemaker


sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

from pyathena import connect

In [414]:
database_name = "insta_db"

In [415]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [416]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [417]:
statement = """DROP SCHEMA IF EXISTS {} CASCADE""".format(database_name)
print(statement)
# Execute the sql above.
import pandas as pd

pd.read_sql(statement, conn)

DROP SCHEMA IF EXISTS insta_db CASCADE

Empty DataFrame
Columns: []
Index: []

In [418]:
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)

CREATE DATABASE IF NOT EXISTS insta_db

In [419]:
# Execute the sql above.
import pandas as pd

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [420]:
# Execute the sql to Verify database was created.
statement = "SHOW DATABASES"

df_show = pd.read_sql(statement, conn)
df_show.head(5)

  database_name
0       default
1        dsoaws
2      insta_db

In [421]:
# Verify there are no tables.

statement = "SHOW TABLES in {}".format(database_name)

df_show = pd.read_sql(statement, conn)
df_show.head(7)

Empty DataFrame
Columns: [tab_name]
Index: []

### Ingest Products Table

In [422]:
# Set Athena parameters
database_name = "insta_db"
table_name_csv = "products"
s3_private_path_csv = "s3://{}/Instacart-data/csv/products".format(bucket)

In [423]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [424]:
# Execute SQL Above
import pandas as pd

statement = """DROP TABLE IF EXISTS {}.{}""".format(
    database_name, table_name_csv
)

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [425]:
# SQL statement to execute
statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         product_id bigint,
         product_name string,
         aisle_id int,
         department_id int

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, table_name_csv, s3_private_path_csv
)

print(statement)

CREATE EXTERNAL TABLE IF NOT EXISTS insta_db.products(
         product_id bigint,
         product_name string,
         aisle_id int,
         department_id int

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' LOCATION 's3://sagemaker-us-east-1-508233972396/Instacart-data/csv/products'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

In [426]:
# Execute SQL Above
import pandas as pd

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [427]:
# Verify the table was created.

statement = "SHOW TABLES in {}".format(database_name)

df_show = pd.read_sql(statement, conn)
df_show.head(7)

   tab_name
0  products

In [428]:
product_category = "Chocolate Sandwich Cookies"

statement = """SELECT * FROM {}.{}
    WHERE product_name = '{}' LIMIT 100""".format(
    database_name, table_name_csv, product_category
)

print(statement)

SELECT * FROM insta_db.products
    WHERE product_name = 'Chocolate Sandwich Cookies' LIMIT 100

In [429]:
df = pd.read_sql(statement, conn)
df.head(5)

   product_id                product_name  aisle_id  department_id
0           1  Chocolate Sandwich Cookies        61             19

### Ingest aisles table

In [430]:
# Set Athena parameters
database_name = "insta_db"
table_name_csv = "aisles"
s3_private_path_csv = "s3://{}/Instacart-data/csv/aisles".format(bucket)

In [431]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [432]:
# Execute SQL Above
import pandas as pd

statement = """DROP TABLE IF EXISTS {}.{}""".format(
    database_name, table_name_csv
)

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [433]:
# SQL statement to execute
statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         aisle_id int,
         aisle string

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, table_name_csv, s3_private_path_csv
)

print(statement)

CREATE EXTERNAL TABLE IF NOT EXISTS insta_db.aisles(
         aisle_id int,
         aisle string

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' LOCATION 's3://sagemaker-us-east-1-508233972396/Instacart-data/csv/aisles'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

In [434]:
# Execute SQL Above
import pandas as pd

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [435]:
# Verify the table was created.

statement = "SHOW TABLES in {}".format(database_name)

df_show = pd.read_sql(statement, conn)
df_show.head(7)

   tab_name
0    aisles
1  products

In [436]:
product_category = "coffee"

statement = """SELECT * FROM {}.{}
    WHERE aisle = '{}' LIMIT 100""".format(
    database_name, table_name_csv, product_category
)

print(statement)

SELECT * FROM insta_db.aisles
    WHERE aisle = 'coffee' LIMIT 100

In [437]:
df = pd.read_sql(statement, conn)
df.head(5)

   aisle_id   aisle
0        26  coffee

### Ingest departments table

In [438]:
# Set Athena parameters
database_name = "insta_db"
table_name_csv = "departments"
s3_private_path_csv = "s3://{}/Instacart-data/csv/departments".format(bucket)

In [439]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [440]:
# Execute SQL Above
import pandas as pd

statement = """DROP TABLE IF EXISTS {}.{}""".format(
    database_name, table_name_csv
)

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [441]:
# SQL statement to execute
statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         department_id int,
         department string

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, table_name_csv, s3_private_path_csv
)

print(statement)

CREATE EXTERNAL TABLE IF NOT EXISTS insta_db.departments(
         department_id int,
         department string

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' LOCATION 's3://sagemaker-us-east-1-508233972396/Instacart-data/csv/departments'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

In [442]:
# Execute SQL Above
import pandas as pd

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [443]:
# Verify the table was created.

statement = "SHOW TABLES in {}".format(database_name)

df_show = pd.read_sql(statement, conn)
df_show.head(7)

      tab_name
0       aisles
1  departments
2     products

In [444]:
product_category = "frozen"

statement = """SELECT * FROM {}.{}
    WHERE department = '{}' LIMIT 100""".format(
    database_name, table_name_csv, product_category
)

print(statement)

SELECT * FROM insta_db.departments
    WHERE department = 'frozen' LIMIT 100

In [445]:
df = pd.read_sql(statement, conn)
df.head(5)

   department_id department
0              1     frozen

### Ingest order_products__train table

In [446]:
# Set Athena parameters
database_name = "insta_db"
table_name_csv = "order_products__train"
s3_private_path_csv = "s3://{}/Instacart-data/csv/order_products__train".format(bucket)

In [447]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [448]:
# Execute SQL Above
import pandas as pd

statement = """DROP TABLE IF EXISTS {}.{}""".format(
    database_name, table_name_csv
)

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [449]:
# Execute SQL Above
import pandas as pd

statement = """DROP TABLE IF EXISTS {}.{}""".format(
    database_name, table_name_csv
)

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [450]:
# SQL statement to execute
statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         order_id bigint,
         product_id bigint,
         add_to_cart_order bigint,
         reordered bigint

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, table_name_csv , s3_private_path_csv
)

print(statement)

CREATE EXTERNAL TABLE IF NOT EXISTS insta_db.order_products__train(
         order_id bigint,
         product_id bigint,
         add_to_cart_order bigint,
         reordered bigint

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' LOCATION 's3://sagemaker-us-east-1-508233972396/Instacart-data/csv/order_products__train'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

In [452]:
# Execute SQL Above
import pandas as pd

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [453]:
# Verify the table was created.

statement = "SHOW TABLES in {}".format(database_name)

df_show = pd.read_sql(statement, conn)
df_show.head(7)

                tab_name
0                 aisles
1            departments
2  order_products__train
3               products

In [454]:
statement = """SELECT * FROM {}.{} LIMIT 5""".format(
    database_name, table_name_csv
)

print(statement)

SELECT * FROM insta_db.order_products__train LIMIT 5

In [455]:
df = pd.read_sql(statement, conn)
df.head(5)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### Ingest sample_submission table

In [456]:
# Set Athena parameters
database_name = "insta_db"
table_name_csv = "sample_submission"
s3_private_path_csv = "s3://{}/Instacart-data/csv/sample_submission".format(bucket)

In [457]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [458]:
# Execute SQL Above
import pandas as pd

statement = """DROP TABLE IF EXISTS {}.{}""".format(
    database_name, table_name_csv
)

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [459]:
# SQL statement to execute
statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         order_id bigint,
         products string

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, table_name_csv, s3_private_path_csv
)

print(statement)

CREATE EXTERNAL TABLE IF NOT EXISTS insta_db.sample_submission(
         order_id bigint,
         products string

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' LOCATION 's3://sagemaker-us-east-1-508233972396/Instacart-data/csv/sample_submission'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

In [460]:
# Execute SQL Above
import pandas as pd

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [461]:
# Verify the table was created.

statement = "SHOW TABLES in {}".format(database_name)

df_show = pd.read_sql(statement, conn)
df_show.head(7)

                tab_name
0                 aisles
1            departments
2  order_products__train
3               products
4      sample_submission

In [462]:
statement = """SELECT * FROM {}.{} LIMIT 5""".format(
    database_name, table_name_csv
)

print(statement)

SELECT * FROM insta_db.sample_submission LIMIT 5

In [463]:
df = pd.read_sql(statement, conn)
df.head(5)

   order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259
3       182  39276 29259
4       257  39276 29259

### Ingest order_products_prior table

In [464]:
# Set Athena parameters
database_name = "insta_db"
table_name_csv = "order_products_prior"
s3_private_path_csv = "s3://{}/Instacart-data/csv/order_products__prior".format(bucket)

In [465]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [466]:
# Execute SQL Above
import pandas as pd

statement = """DROP TABLE IF EXISTS {}.{}""".format(
    database_name, table_name_csv
)

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [467]:
# SQL statement to execute
statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         order_id bigint,
         product_id bigint,
         add_to_cart_order int,
         reordered int

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, table_name_csv, s3_private_path_csv
)

print(statement)

CREATE EXTERNAL TABLE IF NOT EXISTS insta_db.order_products_prior(
         order_id bigint,
         product_id bigint,
         add_to_cart_order int,
         reordered int

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' LOCATION 's3://sagemaker-us-east-1-508233972396/Instacart-data/csv/order_products__prior'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

In [468]:
# Execute SQL Above
import pandas as pd

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [469]:
# Verify the table was created.

statement = "SHOW TABLES in {}".format(database_name)

df_show = pd.read_sql(statement, conn)
df_show.head(7)

                tab_name
0                 aisles
1            departments
2  order_products__train
3   order_products_prior
4               products
5      sample_submission

In [470]:
statement = """SELECT * FROM {}.{} LIMIT 5""".format(
    database_name, table_name_csv
)

print(statement)

SELECT * FROM insta_db.order_products_prior LIMIT 5

In [471]:
df = pd.read_sql(statement, conn)
df.head(5)

   order_id  product_id  add_to_cart_order  reordered
0   2988749       15485                 10          1
1   2988750        4595                  1          1
2   2988750       37417                  2          0
3   2988750       49605                  3          0
4   2988750        8214                  4          0

### Ingest orders table

In [472]:
# Set Athena parameters
database_name = "insta_db"
table_name_csv = "orders"
s3_private_path_csv = "s3://{}/Instacart-data/csv/orders".format(bucket)

In [473]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [474]:
# Execute SQL Above
import pandas as pd

statement = """DROP TABLE IF EXISTS {}.{}""".format(
    database_name, table_name_csv
)

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [475]:
# SQL statement to execute
statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
         order_id bigint,
         user_id bigint,
         eval_set string,
         order_number int,
         order_dow int,
         order_hour_of_day int,
         days_since_prior_order decimal(15)

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\n' LOCATION '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')""".format(
    database_name, table_name_csv, s3_private_path_csv
)

print(statement)

CREATE EXTERNAL TABLE IF NOT EXISTS insta_db.orders(
         order_id bigint,
         user_id bigint,
         eval_set string,
         order_number int,
         order_dow int,
         order_hour_of_day int,
         days_since_prior_order decimal(15)

) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' LOCATION 's3://sagemaker-us-east-1-508233972396/Instacart-data/csv/orders'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

In [476]:
# Execute SQL Above
import pandas as pd

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [477]:
# Verify the table was created.

statement = "SHOW TABLES in {}".format(database_name)

df_show = pd.read_sql(statement, conn)
df_show.head(7)

                tab_name
0                 aisles
1            departments
2  order_products__train
3   order_products_prior
4                 orders
5               products
6      sample_submission

In [478]:
statement = """SELECT * FROM {}.{} LIMIT 5""".format(
    database_name, table_name_csv
)

print(statement)

SELECT * FROM insta_db.orders LIMIT 5

In [479]:
# Execute SQL Above
import pandas as pd

pd.read_sql(statement, conn)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2140650,64753,prior,14,4,20,3.0
1,1214639,64753,prior,15,1,14,4.0
2,217815,64753,prior,16,3,9,9.0
3,1704690,64753,prior,17,1,16,5.0
4,663202,64753,prior,18,3,13,2.0

# 2. Once the data is accessible, implement code within SageMaker Studio notebooks to explore the data and identify key fields, data types, areas of opportunity and possible bias.

In [482]:
import boto3
import sagemaker

import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format='retina'

In [483]:
# Set Seaborn Paramaters
sns.set_style = "seaborn-whitegrid"

sns.set(
    rc={
        "font.style": "normal",
        "axes.facecolor": "white",
        "grid.color": ".8",
        "grid.linestyle": "-",
        "figure.facecolor": "white",
        "figure.titlesize": 20,
        "text.color": "black",
        "xtick.color": "black",
        "ytick.color": "black",
        "axes.labelcolor": "black",
        "axes.grid": True,
        "axes.labelsize": 10,
        "xtick.labelsize": 10,
        "font.size": 10,
        "ytick.labelsize": 10,
    }
)

In [485]:
# Helper Code to Display Values on Bars
def show_values_barplot(axs, space):
    def _show_on_plot(ax):
        for p in ax.patches:
            _x = p.get_x() + p.get_width() + float(space)
            _y = p.get_y() + p.get_height()
            value = round(float(p.get_width()), 2)
            ax.text(_x, _y, value, ha="left")

    if isinstance(axs, np.ndarray):
        for idx, ax in np.ndenumerate(axs):
            _show_on_plot(ax)
    else:
        _show_on_plot(axs)

In [486]:
from pyathena import connect

In [487]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [488]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

# 1. Which Products get ordered the most?

In [491]:
# Set Athena parameters
database_name = "insta_db"
table_name = "order_products_prior"

In [492]:
# SQL statement
statement = """
SELECT product_id, count(*) AS num_orders
FROM {}.{} 
GROUP BY product_id 
ORDER BY num_orders DESC
""".format(
    database_name, table_name
)

print(statement)

SELECT product_id, count(*) AS num_orders
FROM insta_db.order_products_prior
GROUP BY product_id
ORDER BY num_orders DESC

In [493]:
import pandas as pd

df = pd.read_sql(statement, conn)
df.head(5)

   product_id  num_orders
0       24852      472565
1       13176      379450
2       21137      264683
3       21903      241921
4       47209      213584

# Release Resources

In [ ]:
%%html

<p><b>Shutting down your kernel for this notebook to release resources.</b></p>
<button class="sm-command-button" data-commandlinker-command="kernelmenu:shutdown" style="display:none;">Shutdown Kernel</button>
        
<script>
try {
    els = document.getElementsByClassName("sm-command-button");
    els[0].click();
}
catch(err) {
    // NoOp
}    
</script>

## Check to see if resources are released.

In [ ]:
%%javascript

try {
    Jupyter.notebook.save_checkpoint();
    Jupyter.notebook.session.delete();
}
catch(err) {
    // NoOp
}